@use 'styles/bootstrap' as *;

.productsWrapper {
  width: 100vw;
  background-color: rgb(248, 245, 240);
}

.products {
  width: $max-content-width;
  margin: auto;

  & > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 30px 0 130px;
  }
}
