@use 'styles/bootstrap' as *;

.productsWrapper {
  width: 100vw;
  text-align: center;
  padding: 80px 0;
  background-color: $whiteSmoke;

  & h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  @include media(tablet) {
    width: 100dvw;
  }
}

.products {
  width: $max-content-width;
  margin: auto;

  & > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
