@use 'styles/bootstrap' as *;

.tableContainer {
  padding: 16px;

  & th {
    min-width: 145px;
    text-align: center;
  }
}

.addItemBtn {
  position: fixed;
  right: 55px;
  top: 400px;
  z-index: 100000;

  & img {
    width: 60px;
  }
}

.logout {
  position: fixed;
  right: 55px;
  top: 20px;
  z-index: 100000;
}

.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid $silver;
    padding: 8px;
  }
  th {
    background-color: $grayUltraLight;
  }
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.funcButtons {
  gap: 35px;
  height: 100%;

  & > div {
    margin: auto;
    width: fit-content;
    & :nth-child(n) {
      width: 30px;
    }

    & :nth-child(1) {
      margin-right: 45px;
    }
  }
}
