@use 'styles/bootstrap' as *;

.tableContainer {
  padding: 16px;
  overflow-x: auto;
}

.addItemBtn {
  position: fixed;
  right: 55px;
  top: 100px;

  & img {
    width: 80px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f0f0f0;
  }
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
