// $preMobile: 400px;
$mobile: 560px;
// $tabletMin: 481px;
$tabletMediumSmall: 660px;
$tabletMedium: 680px;
// $tabletLargeMin: 641px;
$tablet: 960px;
$laptopMin: 961px;
$laptopSmall: 1020px;
$laptopMedium: 1200px;
$laptop: 1260px;
// $desktopUp: 1281px;
// $desktopSmall: 1400px;
// $desktop: 1440px;
$max-content-width: 1230px;

@mixin media($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tabletMedium {
    @media only screen and (max-width: $tabletMediumSmall) {
      @content;
    }
  }

  @if $breakpoint ==tabletMedium2 {
    @media only screen and (max-width: $tabletMedium) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptopMidle {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (min-width: $laptopMin) {
      @content;
    }
  }

  @if $breakpoint ==laptopSmall {
    @media only screen and (max-width: $laptopSmall) {
      @content;
    }
  }

  @if $breakpoint ==laptopMedium {
    @media only screen and (min-width: $laptopMedium) {
      @content;
    }
  }
}
