$pageBackground: #f9fafb;
$pageBackgroundBlack: #141414;
$textPrimary: #000000;
$blackColor: #000000;
$whiteColor: #ffffff;
$accent: #43beff;
$textSecondary: #00000026;
$cream: #f8f5f0;
$whiteSmoke: #f2f2f2;
$slateGray: #64748b;
$darkSlate: #0f172a;
$deepSpace: #0a0f1f;
$charcoalBlue: #1e293b;
$skyBlue: #42bfff;
$silver: #ccc;
$grayDarkest: #333333;
$blue: #007bff;
$blue20: #007bff33;
$gray: #999999;
$ivory: #f7f5ef;
$darkGray: #666666;
$lightGray: #0000000d;
$sunflower: #f7c514;
$alertRed: #ff0000;
$pageRed: #e3102e;
$grayDark: #d5d5d5;
$purpleLight: #7843e9;
$greenMint: #00ca8d;
$ashGray: #4b5563;
$grayLight: #e5e7eb;
$blueBright: #2563eb;
$navyDark: #111827;
$coolGray: #6b7280;
$shadowLight: #0000001f;
$shadowSubtle: #00000014;
$grayExtraLight: #f3f4f6;
$shadowMedium: #00000033;
$shadowUltraLight: #0000001a;
$yellowBright: #fbbf24;
$grayDarkSlate: #374151;
$charcoalDark: #1f2937;
$blueDark: #0056b3;
$grayUltraLight: #f0f0f0;
$gray222: #222222;
$gray555: #555555;
$black50: #00000080;
$black30: #0000004d;
$black60: #00000099;
$black80: #000000cc;
