@use 'styles/bootstrap' as *;

.footerInfo {
  border-top: 1px solid $lightGray;
  & > div {
    display: flex;
    justify-content: space-around;

    & h3 {
      font-size: 22px;
      font-weight: 600;
    }
  }

  & > div:first-child {
    padding: 75px 0 55px;
    color: $whiteColor;
    background-color: $pageBackgroundBlack;

    & > div:first-child {
      h3 {
        margin-bottom: 10px;
      }
      & p {
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }

  & svg {
    fill: $pageBackground;
  }
}
