@use 'styles/bootstrap' as *;

.footerInfo {
  padding: 25px 0 0;
  border-top: 1px solid $lightGray;
  & > div {
    display: flex;
    justify-content: space-around;

    & h3 {
      font-size: 22px;
      font-weight: 600;
    }
  }
}
