@use 'styles/bootstrap' as *;

.logo {
  display: flex;
  align-items: center;

  & img {
    margin-right: 10px;
    width: 36px;
  }

  & p {
    font-size: 16px;
    font-weight: 600;
  }
}
