@use 'styles/bootstrap' as *;

.representation {
  width: 100vw;
  background-color: $whiteSmoke;
  padding: 80px 0;

  & > div {
    display: flex;
    gap: 15px;
    max-width: $max-content-width;
    margin: auto;

    & > div:first-child {
      width: calc((100% / 3) - 15px);
      @include media(tablet) {
        width: auto;
      }
    }

    @include media(tablet) {
      display: block;
      width: 100dvw;
    }
  }

  & h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  & strong,
  & p {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
  }

  & a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    margin-top: 25px;

    & span {
      font-size: 18px;
      font-weight: 800;
      color: $whiteColor;
    }
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 50px;

  & img {
    height: 100%;

    @include media(tablet) {
      height: auto;
    }
  }

  @include media(tablet) {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    margin: auto;
  }
}

.textBox {
  & > div {
    display: flex;
    width: 100%;
    gap: 65px;

    @include media(mobile) {
      flex-direction: column;
      gap: 25px;
    }
  }

  @include media(tablet) {
    padding: 0 50px;
  }
}
