@use 'styles/bootstrap' as *;

.productCardSmall,
.productCardLatest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 600px;
  overflow: hidden;
  background-color: $whiteColor;

  & img {
    width: 330px;
  }

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > div {
    padding: 20px;

    & *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.productCardLatest {
  width: calc(50% - 20px);
  padding: 10px;
  overflow: visible;

  & img {
    width: 220px;
    height: 230px;
  }

  & > div {
    // width: calc((100% - 20px) / 2);
    padding: 10px;
  }
}

.line {
  width: 30px;
  height: 2px;
  background-color: $pageRed;
}
