@use 'styles/bootstrap' as *;

.link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
  border: 2px solid $pageRed;
  border-radius: 30px;
  transition: all 0.3s;

  & span {
    font-size: 18px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: $darkGray;
    border: 2px solid $whiteColor;
  }
}
