@use 'styles/bootstrap' as *;

.latestProjects {
  text-align: center;
  width: 100vw;
  padding: 40px 0;
  margin-bottom: 80px;
  background-color: $whiteSmoke;

  & > div {
    max-width: $max-content-width;
    margin: auto;

    & > div {
      margin-bottom: 30px;

      & p {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }

    & h2 {
      margin-bottom: 20px;
    }
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  @include media(laptopSmall) {
    flex-direction: column;
  }
}
