@use 'styles/bootstrap' as *;

.latestProjects {
  margin-bottom: 80px;
  text-align: center;

  & > div {
    margin-bottom: 15px;
    width: 100%;

    & p {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  & h2 {
    margin-bottom: 15px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 25px;
}
