@use 'styles/bootstrap' as *;

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100vw;
  background-image: url('assets/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: $pageBackgroundBlack;

  & > div {
    margin: auto;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  & h1 {
    color: $whiteColor;
  }

  & p {
    color: $slateGray;
  }

  @include media(tablet) {
    background-size: cover;
  }

  @include media(tablet) {
    width: 100dvw;
  }
}
