@use 'styles/bootstrap' as *;

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100vw;
  background: radial-gradient(
      1200px 400px at 20% -10%,
      $charcoalBlue,
      transparent
    ),
    linear-gradient(180deg, $deepSpace, $darkSlate);

  & > div {
    margin: auto;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  & h1 {
    color: $whiteColor;
  }

  & p {
    color: $slateGray;
  }
}
