@use 'styles/bootstrap' as *;

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $max-content-width;
  height: 70px;
  background-color: $pageBackground;
  z-index: 100000;
}
