@use 'styles/bootstrap' as *;

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: $pageBackground;
  z-index: 1000;
  box-shadow: 1px 1px 10px $textSecondary;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-content-width;
    padding: 0 25px;
    height: 100%;
    margin: 0 auto;
  }
}
