@use 'styles/bootstrap' as *;

.proposedWorks {
  display: flex;
  gap: 20px;
  padding: 80px 0;
}

.work {
  padding: 0 10px;
  text-align: center;

  & h5 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px 0;
  }
  & p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  & img {
    width: 168px;
  }

  & > span {
    position: relative;
    padding: 15px;

    &:hover,
    &:focus {
      color: $alertRed;
    }

    &:hover::before,
    &:focus::before {
      content: '';
      left: 0;
      width: 100%;
      background-color: $alertRed;
    }
  }

  & > span::before {
    content: '';
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
    height: 2px;
    opacity: 0.3;
    transition: all 0.3s;
    background-color: $pageRed;
  }

  & span {
    font-size: 18px;
    font-weight: 700;
    color: $pageRed;
    transition: all 0.3s;
  }
}
