@use 'styles/bootstrap' as *;

.contact {
  & svg {
    width: 30px;
    margin-right: 10px;
  }

  & h3 {
    padding-bottom: 20px;
  }

  & > div {
    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
  }
}
